.content {
  padding: 10px;
}


.userPhotoBlock {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #000000;
  overflow: hidden;
}

.userPhotoBlock .userPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.paginationBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBlock .selectPage {
  min-width: 30px;
  width: auto;
  box-sizing: content-box;
  padding: 0 10px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  color: var(--text-color);
  background-color: var(--btn-bg-disabled);
  border-radius: 0.4rem;
  border: 1px solid var(--btn-border-color);
  cursor: pointer;
}

.paginationBlock .selectPage:hover {
  background-color: var(--btn-bg-hover);
  color: var(--text-color-hover)
}

.paginationBlock .selectPage.active {
  background-color: var(--btn-bg-active);
  color: var(--text-color-dark);
}





