.formControl input,
.formControl textarea {
 outline: none;
 border: 1px solid #000;
}

.formControl.error input,
.formControl.error textarea {
  border: 1px solid red;
}


.formControl.error span {
  color: red
}