.app-wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h"
  "n c"
  ;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: var(--block-bg-color);
  color: var(--text-color);
  border-radius: 1rem;
  overflow: hidden;
}



