:root {
  --body-bg-color: #111111;
  --block-bg-color: rgb(53, 53, 53);
  --text-color: #e4e4e4;
  --text-color-hover: #ffffff;
  --accent-color: #B3FF2B;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  
  background-color: var(--body-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
