.dialogs {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .dialog a {
  margin: 10px 0;
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

.dialogsItems .dialog.activeDialog a {
  color: var(--accent-color)
}

.messages {
  padding: 10px;
}

.messages .message {

}